.ad-page {
    margin: auto;
    min-height: calc(100vh - 2rem);
    width: fit-content;
    display: grid;
    grid-template-areas:
        "main"
        "ads";
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    .ad-page {
        padding-top: 10vh;
        min-height: calc(100vh - 11rem);
        grid-template-rows: auto 1fr;
    }
}

.main {
    grid-area: main;
    align-self: flex-end;
    max-width: min(90%, 1500px);
}

h1 {
    margin-bottom: 1rem;
}

.more-info {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
}

.ads {
    grid-area: ads;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    row-gap: calc(1rem - 8px);
    align-self: flex-start;
}

.connect-wallet {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 500px;
    width: fit-content;
    background-color: var(--gm-primary);
    color: var(--gm-black);
    padding: 4px 12px;
    cursor: pointer;
}

.gm-ad-unit {
    border-radius: 24px !important;
}

.overflow-scroll {
    max-width: 100vw;
    overflow: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    margin: 0 -8px;
}

.overflow-scroll::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.resizable {
    resize: horizontal;
    overflow: auto;
    padding: 8px;
    border-radius: 4px;
    height: fit-content;
}

.resizable:has(.gm-ad-unit[data-gm-format="Leaderboard"]) {
    min-width: 600px;
    max-width: 1200px;
    width: 1200px;
    aspect-ratio: 8;
}

.resizable:has(.gm-ad-unit[data-gm-format="Super Leaderboard"]) {
    min-width: 900px;
    max-width: 1800px;
    width: 1800px;
    aspect-ratio: 10;
}

.resizable:has(.gm-ad-unit[data-gm-format="Small Banner"]) {
    min-width: 300px;
    max-width: 450px;
    width: 450px;   
    aspect-ratio: 6;
}

.resizable:has(.gm-ad-unit[data-gm-format="Small Rectangle"]) {
    min-width: 300px;
    max-width: 450px;
    width: 450px;
    aspect-ratio: 3;
}

@media (max-width: 1200px) {
    .overflow-scroll {
        margin: 0 -1rem;
    }

    .resizable {
        resize: vertical;
        padding-left: 1rem;
        width: auto !important;
        border-right: 1rem solid transparent;
    }
    
    .resizable:has(.gm-ad-unit[data-gm-format="Leaderboard"]) {
        min-height: 75px;
        max-height: 150px;
        height: 75px;
    }
    
    .resizable:has(.gm-ad-unit[data-gm-format="Super Leaderboard"]) {
        min-height: 90px;
        max-height: 180px;
        height: 90px;
    }
    
    .resizable:has(.gm-ad-unit[data-gm-format="Small Banner"]) {
        min-height: 50px;
        max-height: 75px;
        height: 50px;
    }
    
    .resizable:has(.gm-ad-unit[data-gm-format="Small Rectangle"]) {
        min-height: 100px;
        max-height: 150px;
        height: 100px;
    }
}

.inputs {
	display: flex;
	flex-flow: row nowrap;
	gap: 0;
    margin: 1rem 0;
    line-height: 24px;
    height: 40px;
    max-width: 600px;
}

.network-input-trigger {
    flex: 0 1 auto;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #222321;
    color: #eceeec;
    font-size: 16px;
    padding: 0 16px;
    height: 100%;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

.network-input-trigger span {
    line-height: 24px;
}

.network-input-trigger svg {
    width: 11px;
    height: 11px;
}

.network-input-menu-container {
    margin: 10px 0px;
    z-index: 2;
    --data-index: 1;
    transform: translate(-16px, calc(-59.5px - var(--data-index) * 32px));
}

.network-input-menu {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    min-width: max-content;
    box-sizing: border-box;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    outline: none;
    pointer-events: auto;
    padding: 8px;
    background-color: #181917;
    box-shadow: 0 0 0 1px color-mix(in oklab, #f4faed2c, #383a36 25%), 0 12px 60px rgba(0, 0, 0, .3), 0 12px 32px -16px rgba(0, 0, 0, .5);
    border-radius: 12px;
}

.network-input-item-container {
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    box-sizing: border-box;
    outline: none;
    scroll-margin: var(--select-content-padding) 0;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.network-input-item-container:hover {
    background-color: #46a758;
}

.network-input-item span {
    display: none;
}

.network-input-item--selected {
    display: flex;
    align-items: center;
}

.network-input-item--selected span {
    display: inline-flex;
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 24px;
}

.network-input-item svg {
    width: 10px;
    height: 10px;
}

.account-input {
    flex: 1 1 auto;
    border: none;
    background-color: #222321;
	border-radius: 0;
    border-left: 1px solid #fff2;
    border-right: 1px solid #fff2;
    color: #eceeec;
    font-size: 16px;
    display: flex;
    text-indent: 12px;
    min-width: 0;
    z-index: 1;
}

.account-input::placeholder {
    color: #eceeec;
    opacity: 0.6;
}

.account-input:focus, .account-input:focus-visible {
    outline: 2px solid #5c625b;
    outline-offset: -1px;
}

.submit-button {
    flex: 0 1 auto;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: pointer;
    padding: 0 16px;
    border: none;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    color: #eceeec;
    background-color: #222321;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button:hover {
    background-color: #f3fef21a;
}

.submit-button:active {
    background-color: #f2fbf122;
}