@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
	--gm-black: #080908;
	--gm-white: #eceeec;
	--gm-primary: #c2f0c2;
	--gm-secondary: #8cb88c;

	--gm-black-content: var(--gm-white);
	--gm-white-content: var(--gm-black);
	--gm-primary-content: var(--gm-black);
	--gm-secondary-content: #ffffff;
}

* {
	margin: 0;
	padding: 0;
}

html,
body,
main,
#app,
:root {
	font-family: "Sofia Sans";
	background-color: #111210;
	color: #eceeec;
	min-width: 100%;
}

html,
body {
	display: flex;
	width: 100%;
}

a {
	font-family: "Source Code Pro";
	color: var(--gm-primary);
}

a:visited {
	color: var(--gm-secondary);
}
